@model AnchoredinHim.Models.DailyDevotional

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DailyDevotional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Devo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archive.ArchivesID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archive.ArchivesID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DailyDevoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
